In [1]:
print("hello world!")

hello world!

In [10]:
def myfunc(**name):
    print("his last name was " + name["name2"])

myfunc(name1 = "tony" , name2 = "pony")

his last name was pony

In [7]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [2]:
numbers = [25,105,207,96,51,71]
numbers.sort()
print(numbers)

[25, 51, 71, 96, 105, 207]

In [3]:
fruits = ["mangoe","apple","pears","kola"]
fruits.sort()
print(fruits)

['apple', 'kola', 'mangoe', 'pears']

In [4]:
list = ["mango","apple","pears","kola"]
list.sort(reverse= True)
print(list)

['pears', 'mango', 'kola', 'apple']

In [6]:
list = [250,307,105,105,687]
list.sort(reverse= True)
print(list)

[687, 307, 250, 105, 105]

In [7]:
def myfunc(n):
    return abs(n - 20)

list = [50,25,20,80,90,150]
list.sort(key= myfunc)
print(list)

[20, 25, 50, 80, 90, 150]

In [10]:
def my_car(m):
    return abs(m - 1.5)

list= [5.2,0.8,6.4,7.9]
list.sort(key= my_car)
print(list)

[0.8, 5.2, 6.4, 7.9]

In [13]:
list = ["Apple","Pears", "kola","Mula"]
list.sort(key= str.lower)
print(list)

['Apple', 'kola', 'Mula', 'Pears']

In [14]:
list.reverse()
print(list)

['Pears', 'Mula', 'kola', 'Apple']

In [15]:
newlist = list.copy()
print(newlist)

['Pears', 'Mula', 'kola', 'Apple']

In [3]:
list1 = [1,2,3]
list2 = ["a","b","c"]
for x in list2:

    list1.append(x)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [19]:
list1 = ["k", "b", "c"]
list2 = ["a", "t","e"]
list3 = list1 + list2
print(list3)

['k', 'b', 'c', 'a', 't', 'e']

In [20]:
list1.append(list2)
print(list1)

['k', 'b', 'c', ['a', 't', 'e']]

In [21]:
list1.extend(list2)
print(list1)

['k', 'b', 'c', ['a', 't', 'e'], 'a', 't', 'e']

In [22]:
list1 = ["k", "b","c"]
list2 = ["a", "m", "n"]
list1.extend(list2)
print(list1)

['k', 'b', 'c', 'a', 'm', 'n']

In [24]:
tuple = ("apple" , "pears","kola", "shosha")
print(len(tuple))

4

In [27]:
tuple = ("apple", )
print(tuple)

('apple',)

In [29]:
tuple = ("apple" ,"kola", "shosha","aam")
print(tuple[2])

shosha

In [30]:
print(tuple[-2])

shosha

In [31]:
print(tuple[-3:-1])

('kola', 'shosha')

In [32]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-6:-2])

('banana', 'cherry', 'orange', 'kiwi')

In [33]:
print(thistuple[:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [34]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [35]:
print(thistuple[1:4])

('banana', 'cherry', 'orange')

In [36]:
for x in thistuple:
    print(x)

apple
banana
cherry
orange
kiwi
melon
mango

In [37]:
print(len(thistuple))

7

In [4]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [46]:
fruits = ("apple", "kola", "shoosha")
(red, paka, kochi) = fruits
print(red)
print(kochi)
print(paka)

apple
shoosha
kola

In [48]:
fruits = ("apple","kola","shosha","begun","morich")
(red, *paka, kochi) = fruits
print(red)
print(paka)
print(kochi)

apple
['kola', 'shosha', 'begun']
morich

In [50]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [53]:
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [1]:
tup1 = ("a","b","c")
tup2 = ("e","f","g")
print(tup1 + tup2)

('a', 'b', 'c', 'e', 'f', 'g')

In [2]:
set1 = {"apple","cherry","apple","kiwi"}
print(set1)

{'apple', 'cherry', 'kiwi'}

In [3]:
print(len(set1))

3

In [5]:
fruits = ("apple","cherry","kiwi")
newset = set((fruits))
print(newset)

{'apple', 'cherry', 'kiwi'}

In [6]:
for x in newset:
    print(x)

apple
cherry
kiwi

In [8]:
print("kola" in newset)

False

In [9]:
set1 = {"a","b","c"}
set1.add("d")
print(set1)

{'c', 'd', 'a', 'b'}

In [10]:
set2 = {"d","e","f"}
set1.update(set2)
print(set1)

{'c', 'd', 'a', 'e', 'f', 'b'}

In [12]:
list1 = ("apple","kiwi","orange")
set2.update(list1)
print(set2)

{'e', 'apple', 'orange', 'd', 'kiwi', 'f'}

In [15]:
set2.remove("kiwi")
print(set2)

{'e', 'apple', 'orange', 'd', 'f'}

In [16]:
set2.discard("orange")
print(set2)

{'e', 'apple', 'd', 'f'}

In [17]:
ttset = {"jan","feb","mar"}
x = ttset.pop()
print(x)
print(ttset)

feb
{'mar', 'jan'}

In [18]:
ttset.clear()
print(ttset)

set()

In [23]:
set1 = {"a","f","c"}
set2 = {"d","f","g"}
set3 = set1.union(set2)
print(set3)

{'c', 'd', 'a', 'f', 'g', 'b'}

In [29]:
set1 = {"a","c","l"}
set2 = {"l","p","c"}
z = set1.intersection(set2)
print(z)

{'c', 'l'}

In [32]:
set1.symmetric_difference(set2)
print(set1)

{'c', 'a', 'l'}

In [43]:
thisdict = {
    "car": "Mustang",
    "house": "white",
    "vodka" : "monk",
    "vodka": "blackdog"
}
x = thisdict.keys()
print(x)

dict_keys(['car', 'house', 'vodka'])

In [45]:
thisdict["class"]= "lily"
print(x)

dict_keys(['car', 'house', 'vodka', 'class'])

In [46]:
x = thisdict.values()
print(x)

dict_values(['Mustang', 'white', 'blackdog', 'lily'])

In [49]:
thisdict["class"] = "st.martin"
print(x)

dict_items([('car', 'Mustang'), ('house', 'white'), ('vodka', 'blackdog'), ('class', 'st.martin'), ('school', 'st.martin')])

In [48]:
x = thisdict.items()
print(x)

dict_items([('car', 'Mustang'), ('house', 'white'), ('vodka', 'blackdog'), ('class', 'lily'), ('school', 'st.martin')])

In [6]:
thisdict = {
    "car": "Mustang",
    "house": "white",
    "vodka" : "monk",
    "vodka": "blackdog"
}
x = thisdict.values()
print(x)

dict_values(['Mustang', 'white', 'blackdog'])

In [7]:
thisdict["home"] = "sweet"
print(x)

dict_values(['Mustang', 'white', 'blackdog', 'sweet'])

In [8]:
x = thisdict.items()
print(x)

dict_items([('car', 'Mustang'), ('house', 'white'), ('vodka', 'blackdog'), ('home', 'sweet')])

In [9]:
thisdict = {
    "car": "Mustang",
    "house": "white",
    "vodka" : "monk"
}
x = thisdict.items()
print(x)

dict_items([('car', 'Mustang'), ('house', 'white'), ('vodka', 'monk')])

In [10]:
thisdict["vodka"] = "blackdog"
print(x)

dict_items([('car', 'Mustang'), ('house', 'white'), ('vodka', 'blackdog')])

In [14]:
if "model" in thisdict:
    print("yes house is one of the keys ")
else:
    print("no keys in such name")

no keys in such name

In [15]:
thisdict["car"] = "BMW"
print(thisdict)

{'car': 'BMW', 'house': 'white', 'vodka': 'blackdog'}

In [16]:
thisdict["dog"] = "black"
print(thisdict)

{'car': 'BMW', 'house': 'white', 'vodka': 'blackdog', 'dog': 'black'}

In [17]:
thisdict = {
    "car": "Mustang",
    "house": "white",
    "vodka" : "monk"
}
thisdict.update({"car": "Lamborghini"})
print(thisdict)

{'car': 'Lamborghini', 'house': 'white', 'vodka': 'monk'}

In [18]:
thisdict.pop("vodka")
print(thisdict)

{'car': 'Lamborghini', 'house': 'white'}

In [19]:
thisdict.update({"home": "sweet"})
print(thisdict)

{'car': 'Lamborghini', 'house': 'white', 'home': 'sweet'}

In [21]:
thisdict.popitem()
print(thisdict)

{'car': 'Lamborghini', 'house': 'white'}

In [22]:
for x in thisdict:
    print(x)

car
house

In [23]:
for x in thisdict:
    print(thisdict[x])

Lamborghini
white

In [24]:
for x in thisdict.values():
    print(x)

Lamborghini
white

In [25]:
for x,y in thisdict.items():
    print(x,y)

car Lamborghini
house white

In [26]:
mydict = thisdict.copy()
print(mydict)

{'car': 'Lamborghini', 'house': 'white'}

In [36]:
print(list(range(10,3,-2)))

[10, 8, 6, 4]

In [42]:
doorpass = "opendoor@2021"

while
    password = input("Enter the password to open door: ")
    if password == doorpass:
        break
    else:
        print("You have entered the wrong password")
if trial == 1:
    print("The door has been locked")
else:
        print("The door is open")

You have entered the wrong password
You have entered the wrong password
You have entered the wrong password
The door has been locked

In [3]:
a = 2
b = 1
if a > b:
 print("a is greater than b")

a is greater than b

In [4]:
if a == b:
    print("a is equal")
elif a > b:
    print("a is bigr")
else:
    print(" a is smaller")

a is bigr

In [5]:
print("A") if a > b else print("B")

A

In [7]:
if a > b and b < a:
    print(" a is greater")

 a is greater

In [8]:
if a > b or a == b:
    print("anything")
else:
    print("none")

anything

In [12]:
a = 80
if a > 20:
    print("bigger")
    if a > 30:
        print("also bigger")
        if a > 40:
            print("much bigger")
else:
    print("not bigger")

bigger
also bigger
much bigger

In [13]:
if a > b:
    pass

In [1]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer smaller")

1
2
3
4
5
i is no longer smaller

In [2]:
i = 0
while i < 6:
    i += 1
    if i == 2:
        continue
    print(i)

1
3
4
5
6

In [22]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [23]:
f = ["a","b","c"]
for x in f:
    print(x)
    if x == "b":
        break

a
b

In [24]:
for x in f:
    if x == "b":
        break
    print(x)

a

In [25]:
for x in f:
    if x == "b":
        continue
    print(x)

a
c

In [29]:
for x in range(6):
    if x == 4:
        continue
    print(x)
else:
    print("finishes")

0
1
2
3
5
finishes

In [30]:
color = ["red","yellow","raw"]
fruits = ["apple","cherry","orange"]
for x in color:
    for y in fruits:
        print(x,y)

red apple
red cherry
red orange
yellow apple
yellow cherry
yellow orange
raw apple
raw cherry
raw orange

In [33]:
def my_func(fname):
 print(fname + "Romeo")
my_func("Allen ")
my_func("Karen ")
my_func("fallen ")
my_func("Robert ")

Allen Romeo
Karen Romeo
fallen Romeo
Robert Romeo

In [38]:
def my_func(fname,lname):
 print(fname +" "+ lname)
my_func("Rob","phil")

Rob phil

In [9]:
def my_kids(*kids):
    print(kids[1] ," he is the taller " )
my_kids("bob","max","alex")

max  he is the taller

In [43]:
def my_child(child1,child2,child3):
    print("im gonna meet with "+ child2)
my_child(child1="emil",child2="max",child3="lisa")

im gonna meet with max

In [45]:
def my_child(**kids):
    print("this is my child "+kids["lname"])
my_child(fname = "tony" , lname = "bobby")

this is my child bobby

In [46]:
def my_cars(**cars):
    print("this one is my fav "+ cars["name"])
my_cars(color = "blue", name = "bmw", size = "bigeest")

this one is my fav bmw

In [7]:
def my_func(*kids):
   for name in kids:
     print("this is my son ", name)
my_func("bobby" ,"poppy", "lucy")

this is my son  bobby
this is my son  poppy
this is my son  lucy

In [8]:
def adder(x,y,z):
    print("sum: ", x+y+z)
adder(12,58,14)

sum:  84

In [10]:
def cars(*models):
    for name in models:
        print("we have this car ", name)
cars("bmw","audi","tata")

we have this car  bmw
we have this car  audi
we have this car  tata

In [11]:
def cars(*models):
 print("i love this ",models[1])
cars("bmw","audi","tata")

i love this  audi

In [17]:
def intro(**data):
    for key, value in data.items():
        print("{} is {}" .format(key,value))
intro(firstname = "bobby" , lastname = "singh", age = 36)
intro(firstname = "lovely", lastname = "singh", id = "lvely.com" , age = 32)

firstname is bobby
lastname is singh
age is 36
firstname is lovely
lastname is singh
id is lvely.com
age is 32

In [18]:
def my_food(food):
    for x in food:
        print(x)
fruit=["apple","guava",'jambura']
my_food(fruit)

apple
guava
jambura

In [22]:
def multi(x):
    return 5 * x

print(multi(2))
print(multi(5))

10
25

In [21]:
n = int(input("num"))
if n % 2 != 0:
    print("Weird")
if n % 2 == 0 and range(2,5):
     print("not weird")
if n % 2 == 0 and range(6,20):
    print("Weird")
if n % 2 == 0 and n > 20:
    print("not weird")

not weird
Weird

In [22]:
x = lambda a: a + 10
print(x(6))

16

In [23]:
x = lambda a , b: a + b+ 10
print(x(45,10))

65

In [25]:
x = lambda a , b, c: a * b + c
print(x(2,5,9))

19

In [27]:
def my_func(n):
    return lambda a: a * n
my_doubler = my_func(2)
print(my_doubler(11))

22

In [28]:
def my_func(n):
    return lambda a: a * n
my_doubler = my_func(2)
my_tripler = my_func(3)
print(my_doubler(11))
print(my_tripler(11))

22
33

In [29]:
x = lambda a,b,c,d: a + b - c + d
print(x(2,6,3,4))

9

In [30]:
def my_func(n):
    return lambda a: a * n
my_doubler = my_func(2)
my_tripler = my_func(3)
print(my_doubler(22))
print(my_tripler(14))

44
42

In [31]:
cars = ["tata","volvo","nano"]
cars.append("honda")
print(cars)

['tata', 'volvo', 'nano', 'honda']

In [32]:
cars.pop()
print(cars)

['tata', 'volvo', 'nano']

In [33]:
cars.remove("volvo")
print(cars)

['tata', 'nano']

In [37]:
cars.reverse()
print(cars)

['nano', 'tata']

In [38]:
cars.insert(1,"volvo")
print(cars)

['nano', 'volvo', 'tata']

In [40]:
class myclass:
    x = 5
print(myclass)

<class '__main__.myclass'>

In [41]:
class myclass:
    x = 6
p1 = myclass()
print(p1.x)

6

In [60]:
class student:
    
 harry = student()
 larry = student()

harry.name = "Harry"
harry.age = 25
harry.roll = 10

larry.std = 12
larry.roll = 15

print(harry.__dict__)

{'name': 'Harry', 'salary': 255, 'role': 'Instructor', 'age': 25, 'roll': 10}

In [50]:
class student:
    
 def details(self):
    return f"his name is {self.name} ,age is {self.age} , roll is {self.roll}"

harry = student()
larry = student()

harry.name = "Harry"
harry.age = 25
harry.roll = 10

larry.std = 12
larry.roll = 15
print(harry.details())

his name is Harry ,age is 25 , roll is 10

In [57]:
class employee:
    def __init__(self, name,age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def details(self): 

        return f"his name is {self.name} ,age is {self.age} , roll is {self.salary}"

harry = employee("Harry", 22, 2560)
print(harry.age)

22

In [19]:
class Employee:
    no_of_leaves = 8

    def __init__(self, aname, asalary, arole):
        self.name = aname
        self.salary = asalary
        self.role = arole

    def printdetails(self):
        return f"The Name is {self.name}. Salary is {self.salary} and role is {self.role}"


harry = Employee("Harry", 255, "Instructor")
harry.printdetails()

'The Name is Harry. Salary is 255 and role is Instructor'

In [63]:
class Employee:
    def __init__(self, name, age, role):
        self.name = name
        self.age = age
        self.role = role

harry = Employee("Harry",22,"student")
print(harry.role)

student

In [12]:
def create_acc(**user):
    print("ur acc has been created successfully")
    print("Name :", user["names"])
    print("Age :",user["age"])
    print("Genger :",user["gender"])
create_acc(names ="john",age = 18, gender = "female")

ur acc has been created successfully
Name : john
Age : 18
Genger : female

In [15]:
def create_acc(**user):
    for key,value in user.items():
        
        print(key, ":" ,value)
create_acc(Name= "John", Age= 22,Gender="male")

Name : John
Age : 22
Gender : male

In [17]:
def create_new(name,age,gender):
    print("ur acc has been created succesfully")
    print(f"Name: {name}")
    print(f"Age : {age}")
    print(f"Genger: {gender}")
create_new("John",22,"male")
create_new("bobby",18,"male")

ur acc has been created succesfully
Name: John
Age : 22
Genger: male
ur acc has been created succesfully
Name: bobby
Age : 18
Genger: male

In [18]:
class employee:
    def __init__(self,fname,lname):
        self.firstname = fname
        self.lastname = lname

    def details(self):
        print(self.firstname,self.lastname)

name = employee("john","smith")
name.details()

john smith

In [27]:
class person:
    def __init__(self,fname,lname):
        self.firstname = fname
        self.lastname = lname
    def printdetails(self):
        return f"His full name is {self.firstname}  {self.lastname}"

class student(person):
    #pass
 name = student("Will" ,"Smith")
name.printdetails()

'His full name is Will , Smith'

In [28]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [ ]:
values = input("Enter the number :")
list = values.split(",")
tuple = tuple(list)
print("List :", list)
print("Tuple :", tuple)

In [3]:
def check_function():
    name = int(input("What is your number? "))
    if name == 2:
        print("2")
    elif name == 3:
        print("3")
    
    
    
check_function()

ValueError: invalid literal for int() with base 10: ''

In [3]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964,
"price" : 3500000
}
x = car.values()
print(x) 
car["price"] = car["price"] + 100000
car["color"] = "white"
car["model"] = "BMW"

print(x)

dict_values(['Ford', 'Mustang', 1964, 3500000])
dict_values(['Ford', 'BMW', 1964, 3600000, 'white'])

In [14]:
dictTransaction = {
    "account_id" : -999,
    "Amount"  : 0,
    "Deposit" : 0,
    "Withdraw" : 0,
    "Balance" : 0

}
print(type(dictTransaction))
x = list(dictTransaction)
print(type(x))
print(x)
dictTransaction["Amount"] = 10
x = list(dictTransaction)
print(x)

<class 'dict'>
<class 'list'>
['account_id', 'Amount', 'Deposit', 'Withdraw', 'Balance']
['account_id', 'Amount', 'Deposit', 'Withdraw', 'Balance']

In [17]:
a_dictionary = {"a": 1, "b": 2}
values = a_dictionary.values()
values_list = list(values)
print(values_list)
print(values_list[0])
keys = a_dictionary.keys()
values_key = list(keys)
print(values_key)

[1, 2]
1
['a', 'b']

In [22]:
     objlist = ["accid","opening","withdraw","balance","date"]
     list1 = [1,2,3,4]
     list2 = [5,6,7,8,9]
     my_generic_list = []
     my_generic_list.append(3)
     my_generic_list.append("string")
     my_generic_list.append(objlist)
     my_generic_list.append(list1)
     my_generic_list.append(list2)
     my_generic_list

[3, 'string', [1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [36]:
def updown(low,up):
    nums = []
    for num in range(low,up+1):
        nums.append(num)
        print(nums)

In [38]:
print(updown(1,6))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
None

In [5]:
def results(low,up):
    items = []
    for a in range(low,up+1):
        #a = maths.numbers()
        items.append(a)
        return(a)

In [6]:
print(results(1,10))

1

In [12]:
def even_numbers(max):
     n = 2
     while n <= max:
         n1 = n*n
         yield n1
         n += 2
maximum = even_numbers(8)
print(next(maximum))
print(next(maximum))
print(next(maximum))

4
16
36

In [14]:
def fibonacci():
    n1 = 0
    n2 = 1
    while True:
        yield n1
        n1 , n2 = n2 , n1+n2
    
seq = fibonacci()
print(next(seq))
print(next(seq))
print(next(seq))
print(next(seq))
print(next(seq))

0

In [5]:
def making_italic(func):
    def inner():
        return "<i>" + func() + "</i>"
    return inner
def making_bold(func):
    def inner():
        return "<b>" + func() + "</b>"
    return inner
@making_italic
@making_bold
def hello():
    return "Using Decorator"
hello()

'<i><b>Using Decorator</b></i>'

In [34]:
def decorator(func):
    def inner(*args, **kwargs):
                Name = input('username:').strip()
                Password = input('password:')
    if name == 'rosy' and password == 111111:
        Print('Authentication passed!')
                    
    func()
    else:
        Print('Authentication failed!')
    return inner
     
@decorator
def show():
    print('Welcome to Python!')
     
show()

SyntaxError: invalid syntax (Temp/ipykernel_7744/1689928531.py, line 9)

In [40]:
def decorator(func):
    def inner(*args, **kwargs):
        num = 3
        while num:
            name = input("Enter the name").strip()
        password = input("Enter password :")
        if name == "Rosy" and password == 1010:
            print("Authentication succeeded")
        
    func()
    break
        else:
            if num != 1:
                print(f"Please enter correct password .u have {n-1} try left")
            num -= 1
            if num == 0:
                print("aunthentication failed")
    return inner
@decorator
def show():
    print("Welcome to team")
show()

SyntaxError: invalid syntax (Temp/ipykernel_7744/3008208958.py, line 12)

In [1]:
os.getcwd()

'c:\\Users\\user\\OneDrive\\Documents'

In [4]:
dirpath = os.path.join(os.getcwd(),r"Users\Public\Public Documents\New")
dirpath

'c:\\Users\\user\\OneDrive\\Documents\\Users\\Public\\Public Documents\\New'

In [5]:
os.mkdir(dirpath)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'c:\\Users\\user\\OneDrive\\Documents\\Users\\Public\\Public Documents\\New'

In [9]:
import os
path ='C:\\Users\\Public\\Documents'
os.chdir(path)
new_folder = 'New1'
os.makedirs(new_folder)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\Public\\Documents\\New1'